.sidelist li{
    display:block;
    height:40px;
    padding:4px;
    font-family: 20px;
    cursor: pointer;
    margin:5px;
    color: #3F51B5;
}
header{
    background-color: #E91E63;
    height:auto;
    display: flex;
    flex-direction: row;
}
header div{
    margin:5px;
}
#selected{
    width:60%;
    display:block;
    margin:auto;
}
hr{
    border:1px solid grey;
}
.certi{
    overflow-x: hidden;
}
.mymodal{
    padding:5px;
    overflow-x: hidden;
    height:auto;
}
img{
    margin:10px;
}
#qrcode{
    width: 150px;
    height:150px;
    display: block;
    margin:auto;
    margin-bottom:10px;
    margin-top:10px;
}
h3{
    color: white; 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }
  
  h3:nth-child(2){
    animation: type2 8s steps(60, end);
  }
  
  p a{
    color: lime;
    text-decoration: none;
  }
  
  span{
    animation: blink 1s infinite;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
 
  
  ::selection{
    background: black;
  }