<html>
    <head>
            <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <style>
        body{
            font-family: 'Limelight', cursive;
        }
        </style>
    </head>
    <body>
        <div style="display:block;margin:auto;border:1px solid grey;box-shadow:1px 1px 1px 1px;;max-width:50%;">
              <h1 style="text-align: center;padding:3px;color:3F51B5">Hackathon</h1>
              <hr style="border:1px solid grey;">
              <img src="/images/approved.svg" style="margin-top:10px;width:80px;height:80px;;display:block;margin:auto;">
              
              <div style="padding: 3px 3px;">
                    <i>This is to certify the address holder paticipated in the blockchain hackathon.....</i>
                    <i>Thanks for reaching out to us</i>
                    <table>
                        <tr>
                            <td>Issued By:0x1a2567cbb8a3167a5d3db1124330f6ccf0247c91</td>
                            <td>Dated:18th March'18</td>
                        </tr>
                    </table>
              </div>
        </div>
    </body>
</html>